#wrapper{
    width: 1920px;
    height: 1596px;
    background-color: #245176;
}
#top{
    width: 1920px;
    height: 800px;
}
#header{
    width: 1920px;
    height: 250px;
}
#pythonimg{
    width: 700px;
    margin: 25px 500px 0px 50px;
}
#corner{
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}
#textsize{
    color: white;
    font-size: 20pt;
    display: inline;
    margin-left: 190px;
}
#separator{
    color: black;
}
.sizes{
    color: yellow;
    font-size: 20pt;
    display: inline;
}
#search{
    width: 550px;
    height: 125px;
    background-color: rgb(68,68,68);
    box-shadow: 5px 5px;
    border-radius: 10px;
}
#searchbox{
    color: gray;
    text-align: center;
    font-size: 15pt;
    height: 50px;
    width: 300px;
    margin: 30px 30px 30px 70px;
    border: 5px solid gray;
}
#submit{
    font-size: 20pt;
    height: 50px;
    width: 75px;
    color: white;
    background-color: #245176;
    border-radius: 10px;
}
#footer{
    padding-left: 400px;
    padding-top: 300px;
    height: 500px;
}
.footlink{
    color: rgb(137,186,227);
    font-size: 25pt;
    text-decoration: none;
    margin: 30px;
}
#copyright{
    color: rgb(137,186,227);
    font-size: 15pt;
    text-decoration: none;
    margin-left: 500px;
}
#body{
    width: 1800px; 
    height: 800px;
}
#bodytext{
    width: 1000px; 
    height: 400px; 
    display: inline-block;
}
#bodytext > p{
    text-align: center;
    color: white;
    font-size: 20pt; 
}
#bodytext > ul{
    color: yellow; 
    font-style: italic; 
    font-size: 20pt;
    text-align: center;
    list-style-type: none;
}
#white{
    width: 1920px; 
    height: 400px; 
    background-color: white; 
}
.textbox{
    width: 800px; 
    height: 350px; 
    display: inline-block; 
    margin: 20px 70px; 
    vertical-align: top; 
    border-top: 3px solid blue; 
}
.textbox > ul{
    color: #91bade; 
    text-align: center;
    font-size: 18pt; 
}
.textbox > h2{
    text-align: center;
    font-size: 20pt; 
}
.textbox > p{
    text-align: center; 
    font-size: 18pt;
}
#bluetext{
    color: #91bade;
}
#navbar{
    display: inline-block;
    height: 60px;
    width: 1600px;
    border-radius: 10px;
    color: black;
    background-color: #477EAD;
    position:relative;
    left: 150px;
    box-shadow: 2px 2px;
}
.navbarText{
    font-size: 24pt;
    display: inline;
    margin: 60px;
    line-height: 2;
    color: white;
    position: relative;
    left: 30px;
}
#list{
    position: relative;
    width: 600px;
    top: 30px;
    left: 300px;
    color: white;
    text-decoration: underline;
    display: inline-block;
    font-size: 20pt;
}
#docs{
}
#av{
    position: relative;
    left: -50px;
    bottom: 10px;
}
#beginner{
    position: relative;
    bottom: 20px;
    left: -45px;
}
#developer{
    position: relative;
    bottom: 30px;
    left: -50px;
}
#pep{
    position: relative;
    bottom: 40px;
    left: -20px;
}
#python{
    position: relative;
    bottom: 50px;
    left: -35px;
}
#faq{
    position: relative;
    bottom: 60px;
    left: -0px;
}